{% extends 'base_file/base_index.html' %}
{% load static %}
{% block title %} Easy Data Management Solution {% endblock title %}
{% block content %}
			
				<div class="container-fluid">
					<div class="row justify-content-start">
						<div class="col-md-1"></div>
						<div class="col-md-4" style="height: 100vh;margin-top: 14rem;margin-bottom:auto;">
							<h2 class="h2" style="color:blue"> Easy Data Management Solution (EDMS) </h2>
							<p class="text-dark h4 bold">Manage Your Organization Effortlessly </p>
						</div>

						<div class="col-md-3" style="height: 100vh;margin-top: 10rem;">
							<div class="featured-box featured-box-primary text-start mt-0">
								<div class="box-content">
									<h4 class="color-primary font-weight-semibold text-4 text-uppercase mb-3">Login </h4><br/>

									{% if alert %}
									<div class="alert alert-dark text-danger">{{alert}}</div><br/>

									{% endif %}
									<form action="{% url 'login' %}" id="frmSignUp" method="post" class="needs-validation">
										
										{% csrf_token %}
										<div class="row">
											<div class="form-group col">
												<label class="form-label">E-mail Address</label>
												<input type="email" name="email" value="" class="form-control form-control-lg" required>
											</div>
										</div>
										
										
										<div class="row">
											<div class="form-group col-lg-12">
												<label class="form-label">Password</label>
												<input type="password" name="password" value="" class="form-control form-control-lg" required>
											</div>
											
										</div>
										<div class="row justify-content-center">
											
											<div class="form-group col-lg-12">
												<input type="submit" value="Login Now" class="btn btn-primary btn-modern float-end ml-0" data-loading-text="Loading...">
											</div>
										</div><br>
										<div class="row justify-content-center">
											
											<div class="form-group col-lg-12">
												<a href="{% url 'signup' %}" style="text-decoration: none;" class="btn btn-link">Sign Up</a>
											</div>

										</div>
									</form>
								</div>
							</div>
						</div>
					</div>

					</div>
				
			
			
{% endblock content %}