{% extends 'base_file/base_dashboard.html' %}

{% block title %} Add Sub Sectors {% endblock %}

{% block content %}

<div class="row justify-content-center mt-4">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Add Sub Sectors</h4>
            </div>
            <div class="card-body"><br>
                {% if messages %}
                {% for message in messages %}
                <div class="alert alert-success alert-dismissible">
                    {{ message }}

                </div>
                {% endfor %}
                {% endif %}
            </div>


                <form action="" method="post" class="ml-1 mr-1">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="">Sub Sector Name</label>
                        <input type="text" class="form-control" name="sector_name" placeholder="Sub Sector Name">
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btn btn-primary" value="Save Sub Sector">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock content %}