{% extends 'base_file/base_dashboard.html' %}

{% block title %}  Edit tour {% endblock title %}


{% block content %}
{% load static %}

<div class="row justify-content-center">
	<div class="co-md-7">
	<div class="card mb-4">			<form action="{% url 'edittoursubmit' %}" method="post">
											{% csrf_token %}

											<input type="hidden" name="identity" value="{{tourdata.id}}">

									<div class="card-body">
										<div class="row justify-content-center">

											<div class="col-md-6">
												<h4 class="mb-3">Edit Tour Schedule</h4>
											  	<form class="contact-form" action="php/contact-form.php" method="POST">
													<div class="contact-form-success alert alert-success d-none mt-4">
														<strong>Success!</strong> Your message has been sent to us.
													</div>

													<div class="contact-form-error alert alert-danger d-none mt-4">
														<strong>Error!</strong> There was an error sending your message.
														<span class="mail-error-message text-1 d-block"></span>
													</div>

													<div class="row">
														
														<div class="form-group col">
															<label class="form-label">Member</label>
															<div class="custom-select-1">
													      		<select multiple class="form control chosen-select" data-placeholder="Start Typing a Member's Name"  name="members"  required style="width:99%">
													        		
													        		{% for mem in tourdata.all_members %}
													        		{% if mem.id in tourdata.assigned_members %}
													        		<option value="{{mem.id}}" selected>
													        			
													        			{{mem.first_name }} {{mem.last_name}}
													        		</option>

													        		{% else %}
													        		<option value="{{mem.id}}">
													        			
													        			{{mem.first_name }} {{mem.last_name}}
													        		</option>

													        		{% endif %}
													        		{% endfor %}
													        		
													      		</select>
													      	</div>
														</div>

														<div class="form-group col-lg-6">
															<label class="form-label mb-1 text-2">Last Visited</label>
															<input type="date" value="{{tourdata.last_visited}}" data-msg-required="Please Select A Date"  maxlength="100" class="form-control text-3 h-auto py-2" name="last_visited" autocomplete="off">
														</div>
													
														
													</div>
													
													<div class="row">
														<div class="form-group col-lg-6">
															<label class="form-label mb-1 text-2">Proposed Visit Date</label>
															<input type="date" value="{{tourdata.next_visit_date}}" data-msg-required="Please Select a Date" placeholder="Select Some Dates" maxlength="100" class="form-control text-3 h-auto py-2 date" name="next_visit_date" autocomplete="off"/>
														</div>
														<div class="form-group col-lg-6">
															<label class="form-label mb-1 text-2">Actual Visit Date</label>
															<input type="date" value="{{tourdata.actual_visit_date}}"  placeholder="Enter actual visit date" data-msg-required="Last Meeting Date"  maxlength="100" class="form-control text-3 h-auto py-2" name="actual_visit_date" autocomplete="off">
																
															
														</div>

														
													</div>

													

													<div class="row">
														<div class="form-group col-lg-4">
															<label class="form-label mb-1 text-2">Report Submission Date</label>
															<input type="date" value="{{tourdata.report_submission_date}}"  placeholder="Enter actual visit date" data-msg-required="Last Meeting Date"  maxlength="100" class="form-control text-3 h-auto py-2" name="report_submission_date" autocomplete="off">
																
															
														</div>
														<div class="form-group col-lg-4">
															<label class="form-label mb-1 text-2">Sub Sector</label>
															<input  list="place_list" value="{{tourdata.sub_sector}}" placeholder="Enter Tour Destination Address" data-msg-required="Last Meeting Date"  maxlength="100" class="form-control text-3 h-auto py-2" name="sub_sector" autocomplete="off" />
															<datalist id="place_list">
																{% for item in all_sub_sectors %}
																
																	
																<option value="{{item.sector_name}}" ></option>

																
															{% endfor %}
															</datalist>
															
														</div>


														<div class="form-group col-lg-4">
															<label class="form-label mb-1 text-2">Comment</label>
															<input type="text" value="{{tourdata.comment}}" placeholder="Enter Tour Destination Address" data-msg-required="Last Meeting Date"  maxlength="100" class="form-control text-3 h-auto py-2" name="comment" autocomplete="off">
														</div>

													</div>

													<div class="row">
														
														

														<div class="form-group col-lg-6">
															<label class="form-label mb-1 text-2">Tour Destination</label>
															<input list="tour_list" value="{{tourdata.tour_to}}" placeholder="Enter Tour Destination Address" data-msg-required="Last Meeting Date"  maxlength="100" class="form-control text-3 h-auto py-2" name="tour_to" autocomplete="off"/>
															<datalist id="tour_list">	
															{% for item in all_places %}
																
																<option value="{{item.place_name}}" >{{item.place_name}}</option>

																
															{% endfor %}
															</datalist>
														</div>

														<div class="form-group col-lg-6">
															<label class="form-label">Change Status</label>
															<div class="custom-select-1">
													      		<select class="form-select form-control h-auto py-2" data-msg-required="Please select a city." name="status"  >
													        		
													        		{% for status in tourdata.status_list %}
													        		{% if status == tourdata.curr_status  %}
													        		<option value="{{tourdata.curr_status}}" selected>
													        			
													        			{{tourdata.curr_status }}
													        		</option>

													        		{% else %}
													        		<option value="{{status}}">
													        			
													        			{{status}}
													        		</option>

													        		{% endif %}
													        		{% endfor %}
													        		
													      		</select>
													      	</div>
														</div>

													</div>
												
													
													
													<div class="row">
														<div class="form-group col">
															<input type="submit" value="Save Tour Information" class="btn btn-primary" data-loading-text="Loading...">
														</div>
													</div>
												</form>
											</div>
										</div>
									</div>
								</form>
								</div>
							</div>
						</div>



{% endblock content %}