{% extends 'base_file/base_dashboard.html' %}

{% block title %}Upload files {% endblock %}

{% block content %}
{% load static %}

<div class="row justify-content-center" style="margin-top:5rem">
	<div class="col-md-6">

<h2>Upload Files For This Tour</h2><br/>

<a href="{% url 'show_files' tourid %}" class="btn btn-primary">Show Uploaded Files For This Tour</a><br>
<form action=""  method="post" enctype="multipart/form-data">

	{% csrf_token %}
  <div id="drop_zone" class="drop-zone">
    <p class="title">Drop file here</p>
    <div class="preview-container"></div>
  </div>
  <input id="file_input" accept="*" type="file" multiple="true" name="file">
  <button id="upload_images">Upload Now</button>
  <div id="result_images" class="result-images"></div>
</form>

</div>





	<!-- file list ending here -->


</div>

</div>

{% endblock content %}