{% extends 'base_file/base_dashboard.html' %}

{% block title %}Show files {% endblock %}

{% block content %}
{% load static %}

<div class="card">
	<div class="card-body">
<div class="row justify-content-center" style="margin-top:5rem">
	


<div class="col-md-6">
	
	<!-- file list starting here -->

		<div class="table-responsive">
											<table id="data-table" class="table table-bordered text-nowrap mb-0 bg-white">
												<thead class="border-top">
												<tr>
													
													<th class="bg-transparent border-bottom-0">Member</th>
													
													<th class="bg-transparent border-bottom-0">Uploaded Files</th>
													<!--
													<th class="bg-transparent border-bottom-0">Action</th> -->
												</tr>
												</thead>
												<tbody>
													{% if tour_file_data %}

													{% for data in tour_file_data %}
													<tr class="border-bottom">
														
														
														<td class="text-muted fs-15 fw-semibold">{{data.member}} </td>
														
														

														<td class="text-muted fs-15 fw-semibold ">
															
															{% if data.files %}
															
																{% for fileurl in data.files %}
																<ul style="list-style-position: outside;" class="d-flex flex-row">
																<li class="text-left mt-2 buttons" ><a href="{{fileurl.file.url}}" class="btn btn-success" >{{fileurl.file.url | cut:'/media/tour/'}}</a>
																</li>
															</ul>
															
															    

																{% endfor %}
															<style>
																	ul li.buttons {
																		  list-style-type: circle;
																		  list-style-position: outside;

																		}
																		ul li a:hover {
																		  list-style-type: circle;
																		  list-style-position: outside;
																		  background-color: red !important;
																		  
																		}
																		</style>

																	{% else %}No File Uploaded
															{% endif %}
														</td>

														


														<!-- delte button 
														<td class="">
															
															

															
															<a class="btn btn-danger btn-sm rounded-11 deletebtntour" memberid="{{data.id}}" data-bs-target="#membersDeleteModal" data-bs-toggle="modal" data-bs-original-title="Delete"><i memberid="{{data.id}}" ><svg tourid="{{data.id}}"  class="table-delete" xmlns="http://www.w3.org/2000/svg" height="20" viewBox="0 0 24 24" width="16"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6v12zM8 9h8v10H8V9zm7.5-5l-1-1h-5l-1 1H5v2h14V4h-3.5z"/></svg></i></a>
														</td>
													-->
													</tr>

													{% endfor %}

													{% endif %}
													
												</tbody>
											</table>


											
										</div>


	<!-- file list ending here -->


</div>


</div>
</div>

</div>

{% endblock content %}